<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pk.requestmanager.sample"
    android:versionCode="1"
    android:versionName="1.0" >
	
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />
	
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.pk.requestmanager.sample.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.pk.requestmanager.sample.BasicActivity"
            android:label="@string/basic" />
        <activity
            android:name="com.pk.requestmanager.sample.IntermediateActivity"
            android:label="@string/intermediate" />
        <activity
            android:name="com.pk.requestmanager.sample.AdvancedActivity"
            android:label="@string/advanced" />
        <activity
            android:name="com.pk.requestmanager.sample.AutomaticActivity"
            android:label="@string/automatic" />
    </application>

</manifest>